.container{
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo{
        width: 200px;
    }

    @media (min-width: 769px){
        justify-content: space-around;
    }

    .nav{       
      right: -200%;
      position: fixed;
      

       @media (min-width: 769px){
            display: flex;
            align-items: center;
            position: static;
       }

       .containerA{
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-around;

        a{
            font-size: 1.3rem;
        }
        
        a:last-child{
            display: none;
        }
        img {
            display: none;
        }
       }
       .xis{
        display: none;
    }
     }

    .navActivate{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--brown-100);
        gap: 20px;
        transition: right .3s;

        .containerA{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 2.5rem;
            background-color: var(--brown-200);
            width: fit-content;
            a:last-child{
                font-size: 1rem;
            }


        }

        .xis{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 2rem;
            cursor: pointer;
            color: var(--black);

         
        }

        img{
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        a{
            font-size: 2rem;
            color: var(--black);
        }
    }
    .modal{

        @media (min-width: 769px){
            display: none;
        }            
    }
}