.containerSwiper{
  width: 100%;
  margin-top: 2rem;
  position: relative;

  .containerArrow{
    position: absolute;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5px;
    color: var(--brown-100);
    z-index: 999;
  }
  
  .swiperSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    

    .content{
      width: 350px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 31px;
      background-color:#E8E8E8;
      padding: .5rem;
      gap: 2rem;
      margin-top: 1rem;
      h1{
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  } 

}
