.tag{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  position: absolute;
  
  .background{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: var(--brown-100);

    .text{
      text-transform: uppercase;
      p{
        font-size: 1.2rem;
      }
      strong{
        font-size: 1.2rem;

      }
    }

    @media(min-width:425px){
      max-width: 270px;
    }


  }
}